* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90vh;
}

#tetris{
    background-color: white;
    box-shadow: 0 0 10px lightgray; 
}

button {
   
    padding: 10px 20px;
    background-color: rgb(99, 103, 106);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.button {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#left-right {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 10px;
} 

#left {
    display: flex;
    justify-content: flex-start;
}

#right {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

#up {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
#down {
    display: flex;
    justify-content: center;
}